{{- with resources.Get "images/artur-rios-profile.jpg" -}}
  {{- $avatar := .Fill "320x320 webp q85 Center" -}}
  {{- $avatar2x := .Fill "480x480 webp q85 Center" -}}
  <div class="side-profile">
    <a href="{{- absURL (print "/" (default "en" site.Language.Lang)) -}}">
      <img
        class="side-profile-img"
        src="{{- $avatar.RelPermalink -}}"
        srcset="{{- $avatar.RelPermalink -}} 1x, {{ $avatar2x.RelPermalink }} 2x"
        width="{{- $avatar.Width -}}"
        height="{{- $avatar.Height -}}"
        alt="{{- site.Params.author.name | default site.Title -}}"
        loading="lazy"
        decoding="async"
      />
    </a>
    <span class="side-profile-name">{{- site.Params.author.name | default site.Title -}}</span>
  </div>
{{- end -}}
